@font-face {
  font-family: 'Britanica Expanded';
  src: url('~/assets/fonts/britanica-expanded-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Britanica Expanded';
  src: url('~/assets/fonts/britanica-expanded-heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}